.hightlight-item-wrapper {
    width: 70%;
    padding: 20px 10%;
    margin-bottom: 60px;
    // &.storage-part {
    //     background: url(/maincloud/img/pagehighlight/hightlight1.png);
    // }
    // &.network-part {
    //     background: url(/maincloud/img/pagehighlight/hightlight2.png);     
    // }
    // &.percent-part {
    //     background: url(/maincloud/img/pagehighlight/hightlight3.png);
    // }
    // &.platform-part {
    //     background: url(/maincloud/img/pagehighlight/hightlight4.png);
    // }
}